img {
  width: 45px;
  height: 45x;
}

body {
  background-color: brown;
  margin: 0;
}

.btn {
  color: red;
  border-radius: 20px;
}

ol {
  list-style-position: inside;
}

.container-fluid {
  background-color: black;
  text-align: center;
  font-style: italic;
  color: white;
  padding: 50px;
  margin-top: -19px;
}

footer {
  padding: 22px;
  background-color: black;
  color: white;
  padding-top: 20px;
  border-top: 50px;
}
